---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import HeaderSocial from './HeaderSocial.astro';
// import HeaderSocial from './HeaderLink.astro';
---

<header>
	<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
	<section>
		<h2> {SITE_TITLE} </h2>
		<nav>
			<!-- <HeaderLink href="/">Home</HeaderLink> -->
			<!-- <HeaderLink href="/blog">Artículos</HeaderLink> -->
			<!-- <HeaderLink href="/notes">Notas</HeaderLink> -->
			<!-- <HeaderLink href="/about">About</HeaderLink> -->
			<!-- <HeaderLink href="https://wladimov.com/" target="_blank">wladimov</HeaderLink> -->
			<!-- <HeaderLink href="https://twitter.com/wladimov" target="_blank">Twitter</HeaderLink> -->
			<!-- <HeaderLink href="https://github.com/wladimov" target="_blank">GitHub</HeaderLink> -->
		</nav>
		<HeaderSocial />
	</section>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	/* 
	section {
		display: flex;
	}
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	header {
		display: flex;
		justify-content: space-between;
	}
	img {
		width: 144px;
		height: 25px;
		transition: transform ease .3s;
	}
	img:hover {
		transform: scale(1.1);
		object-fit: contain;
	} */
</style>
